* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Corier new", sans-serif;
}

body {
    display: flex;
    text-align: center;
    justify-content: center;
}

h1 {
    font-size: 100px;
}

img {
    background-size: cover;
}